.park-card-list {
    width: 90%;
    margin: 0 auto;
}
.park-cards-container {
      display: flex;
      justify-content: space-around; 
      flex-wrap: wrap; 
 }
  
.park-list-title {
      text-align: center;
      margin-bottom: 20px; 
}
.search-input{
      width: 80%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ddd;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      font-size: 1rem;
      transition: border-color 0.3s;
}